@font-face {
  font-family: 'u-iconfont'; /* Project id 5171714 */
  src: url('./icon.woff') format('woff');
}

.u-iconfont {
  font-family: 'u-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-favorfill:before {
  content: '\e64b';
}

.u-icon-recordfill:before {
  content: '\e7a4';
}

.u-icon-favor:before {
  content: '\e64c';
}

.u-icon-recordlight:before {
  content: '\e7a5';
}

.u-icon-loading:before {
  content: '\e64f';
}

.u-icon-record:before {
  content: '\e7a6';
}

.u-icon-locationfill:before {
  content: '\e650';
}

.u-icon-roundaddlight:before {
  content: '\e7a7';
}

.u-icon-location:before {
  content: '\e651';
}

.u-icon-soundlight:before {
  content: '\e7a8';
}

.u-icon-phone:before {
  content: '\e652';
}

.u-icon-cardboardfill:before {
  content: '\e7a9';
}

.u-icon-roundcheckfill:before {
  content: '\e656';
}

.u-icon-cardboard:before {
  content: '\e7aa';
}

.u-icon-roundcheck:before {
  content: '\e657';
}

.u-icon-formfill:before {
  content: '\e7ab';
}

.u-icon-roundclosefill:before {
  content: '\e658';
}

.u-icon-coin:before {
  content: '\e7ac';
}

.u-icon-roundclose:before {
  content: '\e659';
}

.u-icon-sortlight:before {
  content: '\e7ad';
}

.u-icon-roundrightfill:before {
  content: '\e65a';
}

.u-icon-cardboardforbid:before {
  content: '\e7af';
}

.u-icon-roundright:before {
  content: '\e65b';
}

.u-icon-circlefill:before {
  content: '\e7b0';
}

.u-icon-search:before {
  content: '\e65c';
}

.u-icon-circle:before {
  content: '\e7b1';
}

.u-icon-taxi:before {
  content: '\e65d';
}

.u-icon-attentionforbid:before {
  content: '\e7b2';
}

.u-icon-timefill:before {
  content: '\e65e';
}

.u-icon-attentionforbidfill:before {
  content: '\e7b3';
}

.u-icon-time:before {
  content: '\e65f';
}

.u-icon-attentionfavorfill:before {
  content: '\e7b4';
}

.u-icon-unfold:before {
  content: '\e661';
}

.u-icon-attentionfavor:before {
  content: '\e7b5';
}

.u-icon-warnfill:before {
  content: '\e662';
}

.u-icon-piclight:before {
  content: '\e7b7';
}

.u-icon-warn:before {
  content: '\e663';
}

.u-icon-shoplight:before {
  content: '\e7b8';
}

.u-icon-camerafill:before {
  content: '\e664';
}

.u-icon-voicelight:before {
  content: '\e7b9';
}

.u-icon-camera:before {
  content: '\e665';
}

.u-icon-attentionfavorfill-copy:before {
  content: '\e7ba';
}

.u-icon-commentfill:before {
  content: '\e666';
}

.u-icon-full:before {
  content: '\e7bc';
}

.u-icon-comment:before {
  content: '\e667';
}

.u-icon-mail:before {
  content: '\e7bd';
}

.u-icon-likefill:before {
  content: '\e668';
}

.u-icon-peoplelist:before {
  content: '\e7be';
}

.u-icon-like:before {
  content: '\e669';
}

.u-icon-goodsnewfill:before {
  content: '\e7bf';
}

.u-icon-notificationfill:before {
  content: '\e66a';
}

.u-icon-goodsnew:before {
  content: '\e7c0';
}

.u-icon-notification:before {
  content: '\e66b';
}

.u-icon-medalfill:before {
  content: '\e7c1';
}

.u-icon-order:before {
  content: '\e66c';
}

.u-icon-medal:before {
  content: '\e7c2';
}

.u-icon-samefill:before {
  content: '\e66d';
}

.u-icon-newsfill:before {
  content: '\e7c3';
}

.u-icon-same:before {
  content: '\e66e';
}

.u-icon-newshotfill:before {
  content: '\e7c4';
}

.u-icon-deliver:before {
  content: '\e671';
}

.u-icon-newshot:before {
  content: '\e7c5';
}

.u-icon-evaluate:before {
  content: '\e672';
}

.u-icon-news:before {
  content: '\e7c6';
}

.u-icon-pay:before {
  content: '\e673';
}

.u-icon-videofill:before {
  content: '\e7c7';
}

.u-icon-send:before {
  content: '\e675';
}

.u-icon-video:before {
  content: '\e7c8';
}

.u-icon-shop:before {
  content: '\e676';
}

.u-icon-askfill:before {
  content: '\e7c9';
}

.u-icon-ticket:before {
  content: '\e677';
}

.u-icon-ask:before {
  content: '\e7ca';
}

.u-icon-wang:before {
  content: '\e678';
}

.u-icon-exit:before {
  content: '\e7cb';
}

.u-icon-back:before {
  content: '\e679';
}

.u-icon-skinfill:before {
  content: '\e7cc';
}

.u-icon-cascades:before {
  content: '\e67c';
}

.u-icon-skin:before {
  content: '\e7cd';
}

.u-icon-discover:before {
  content: '\e67e';
}

.u-icon-moneybagfill:before {
  content: '\e7ce';
}

.u-icon-list:before {
  content: '\e682';
}

.u-icon-usefullfill:before {
  content: '\e7cf';
}

.u-icon-more:before {
  content: '\e684';
}

.u-icon-usefull:before {
  content: '\e7d0';
}

.u-icon-scan:before {
  content: '\e689';
}

.u-icon-moneybag:before {
  content: '\e7d1';
}

.u-icon-settings:before {
  content: '\e68a';
}

.u-icon-redpacket_fill:before {
  content: '\e7d3';
}

.u-icon-questionfill:before {
  content: '\e690';
}

.u-icon-subscription:before {
  content: '\e7d4';
}

.u-icon-question:before {
  content: '\e691';
}

.u-icon-home_light:before {
  content: '\e7d5';
}

.u-icon-shopfill:before {
  content: '\e697';
}

.u-icon-my_light:before {
  content: '\e7d6';
}

.u-icon-form:before {
  content: '\e699';
}

.u-icon-community_light:before {
  content: '\e7d7';
}

.u-icon-wangfill:before {
  content: '\e69a';
}

.u-icon-cart_light:before {
  content: '\e7d8';
}

.u-icon-pic:before {
  content: '\e69b';
}

.u-icon-we_light:before {
  content: '\e7d9';
}

.u-icon-filter:before {
  content: '\e69c';
}

.u-icon-home_fill_light:before {
  content: '\e7da';
}

.u-icon-footprint:before {
  content: '\e69d';
}

.u-icon-cart_fill_light:before {
  content: '\e7db';
}

.u-icon-top:before {
  content: '\e69e';
}

.u-icon-community_fill_light:before {
  content: '\e7dc';
}

.u-icon-pulldown:before {
  content: '\e69f';
}

.u-icon-my_fill_light:before {
  content: '\e7dd';
}

.u-icon-pullup:before {
  content: '\e6a0';
}

.u-icon-we_fill_light:before {
  content: '\e7de';
}

.u-icon-right:before {
  content: '\e6a3';
}

.u-icon-skin_light:before {
  content: '\e7df';
}

.u-icon-refresh:before {
  content: '\e6a4';
}

.u-icon-search_light:before {
  content: '\e7e0';
}

.u-icon-moreandroid:before {
  content: '\e6a5';
}

.u-icon-scan_light:before {
  content: '\e7e1';
}

.u-icon-deletefill:before {
  content: '\e6a6';
}

.u-icon-people_list_light:before {
  content: '\e7e2';
}

.u-icon-refund:before {
  content: '\e6ac';
}

.u-icon-message_light:before {
  content: '\e7e3';
}

.u-icon-cart:before {
  content: '\e6af';
}

.u-icon-close_light:before {
  content: '\e7e4';
}

.u-icon-qrcode:before {
  content: '\e6b0';
}

.u-icon-add_light:before {
  content: '\e7e5';
}

.u-icon-remind:before {
  content: '\e6b2';
}

.u-icon-profile_light:before {
  content: '\e7e6';
}

.u-icon-delete:before {
  content: '\e6b4';
}

.u-icon-service_light:before {
  content: '\e7e7';
}

.u-icon-profile:before {
  content: '\e6b7';
}

.u-icon-friend_add_light:before {
  content: '\e7e8';
}

.u-icon-home:before {
  content: '\e6b8';
}

.u-icon-edit_light:before {
  content: '\e7e9';
}

.u-icon-cartfill:before {
  content: '\e6b9';
}

.u-icon-camera_light:before {
  content: '\e7ea';
}

.u-icon-discoverfill:before {
  content: '\e6ba';
}

.u-icon-hot_light:before {
  content: '\e7eb';
}

.u-icon-homefill:before {
  content: '\e6bb';
}

.u-icon-refresh_light:before {
  content: '\e7ec';
}

.u-icon-message:before {
  content: '\e6bc';
}

.u-icon-back_light:before {
  content: '\e7ed';
}

.u-icon-addressbook:before {
  content: '\e6bd';
}

.u-icon-share_light:before {
  content: '\e7ee';
}

.u-icon-link:before {
  content: '\e6bf';
}

.u-icon-comment_light:before {
  content: '\e7ef';
}

.u-icon-lock:before {
  content: '\e6c0';
}

.u-icon-appreciate_light:before {
  content: '\e7f0';
}

.u-icon-unlock:before {
  content: '\e6c2';
}

.u-icon-favor_light:before {
  content: '\e7f1';
}

.u-icon-vip:before {
  content: '\e6c3';
}

.u-icon-appreciate_fill_light:before {
  content: '\e7f2';
}

.u-icon-weibo:before {
  content: '\e6c4';
}

.u-icon-comment_fill_light:before {
  content: '\e7f3';
}

.u-icon-activity:before {
  content: '\e6c5';
}

.u-icon-wang_light:before {
  content: '\e7f4';
}

.u-icon-big:before {
  content: '\e6c7';
}

.u-icon-more_android_light:before {
  content: '\e7f5';
}

.u-icon-friendaddfill:before {
  content: '\e6c9';
}

.u-icon-friend_light:before {
  content: '\e7f6';
}

.u-icon-friendadd:before {
  content: '\e6ca';
}

.u-icon-more_light:before {
  content: '\e7f7';
}

.u-icon-friendfamous:before {
  content: '\e6cb';
}

.u-icon-goods_favor_light:before {
  content: '\e7f8';
}

.u-icon-friend:before {
  content: '\e6cc';
}

.u-icon-goods_new_fill_light:before {
  content: '\e7f9';
}

.u-icon-goods:before {
  content: '\e6cd';
}

.u-icon-goods_new_light:before {
  content: '\e7fa';
}

.u-icon-selection:before {
  content: '\e6ce';
}

.u-icon-goods_light:before {
  content: '\e7fb';
}

.u-icon-tmall:before {
  content: '\e6cf';
}

.u-icon-medal_fill_light:before {
  content: '\e7fc';
}

.u-icon-explore:before {
  content: '\e6d2';
}

.u-icon-medal_light:before {
  content: '\e7fd';
}

.u-icon-present:before {
  content: '\e6d3';
}

.u-icon-news_fill_light:before {
  content: '\e7fe';
}

.u-icon-squarecheckfill:before {
  content: '\e6d4';
}

.u-icon-news_hot_fill_light:before {
  content: '\e7ff';
}

.u-icon-square:before {
  content: '\e6d5';
}

.u-icon-news_hot_light:before {
  content: '\e800';
}

.u-icon-squarecheck:before {
  content: '\e6d6';
}

.u-icon-news_light:before {
  content: '\e801';
}

.u-icon-round:before {
  content: '\e6d7';
}

.u-icon-video_fill_light:before {
  content: '\e802';
}

.u-icon-roundaddfill:before {
  content: '\e6d8';
}

.u-icon-message_fill_light:before {
  content: '\e803';
}

.u-icon-roundadd:before {
  content: '\e6d9';
}

.u-icon-form_light:before {
  content: '\e804';
}

.u-icon-add:before {
  content: '\e6da';
}

.u-icon-video_light:before {
  content: '\e805';
}

.u-icon-notificationforbidfill:before {
  content: '\e6db';
}

.u-icon-search_list_light:before {
  content: '\e806';
}

.u-icon-explorefill:before {
  content: '\e6dd';
}

.u-icon-form_fill_light:before {
  content: '\e807';
}

.u-icon-fold:before {
  content: '\e6de';
}

.u-icon-global_light:before {
  content: '\e808';
}

.u-icon-game:before {
  content: '\e6df';
}

.u-icon-global:before {
  content: '\e809';
}

.u-icon-redpacket:before {
  content: '\e6e0';
}

.u-icon-favor_fill_light:before {
  content: '\e80a';
}

.u-icon-selectionfill:before {
  content: '\e6e1';
}

.u-icon-delete_light:before {
  content: '\e80b';
}

.u-icon-similar:before {
  content: '\e6e2';
}

.u-icon-back_android:before {
  content: '\e80c';
}

.u-icon-appreciatefill:before {
  content: '\e6e3';
}

.u-icon-back_android_light:before {
  content: '\e80d';
}

.u-icon-infofill:before {
  content: '\e6e4';
}

.u-icon-down_light:before {
  content: '\e80e';
}

.u-icon-info:before {
  content: '\e6e5';
}

.u-icon-round_close_light:before {
  content: '\e80f';
}

.u-icon-tao:before {
  content: '\e6e8';
}

.u-icon-round_close_fill_light:before {
  content: '\e810';
}

.u-icon-mobiletao:before {
  content: '\e6e9';
}

.u-icon-expressman:before {
  content: '\e811';
}

.u-icon-forwardfill:before {
  content: '\e6ea';
}

.u-icon-punch_light:before {
  content: '\e812';
}

.u-icon-forward:before {
  content: '\e6eb';
}

.u-icon-evaluate_fill:before {
  content: '\e813';
}

.u-icon-rechargefill:before {
  content: '\e6ec';
}

.u-icon-furniture:before {
  content: '\e814';
}

.u-icon-recharge:before {
  content: '\e6ed';
}

.u-icon-dress:before {
  content: '\e815';
}

.u-icon-vipcard:before {
  content: '\e6ee';
}

.u-icon-coffee:before {
  content: '\e816';
}

.u-icon-voice:before {
  content: '\e6ef';
}

.u-icon-sports:before {
  content: '\e817';
}

.u-icon-voicefill:before {
  content: '\e6f0';
}

.u-icon-group_light:before {
  content: '\e818';
}

.u-icon-friendfavor:before {
  content: '\e6f1';
}

.u-icon-location_light:before {
  content: '\e819';
}

.u-icon-wifi:before {
  content: '\e6f2';
}

.u-icon-attention_light:before {
  content: '\e81a';
}

.u-icon-share:before {
  content: '\e6f3';
}

.u-icon-group_fill_light:before {
  content: '\e81b';
}

.u-icon-wefill:before {
  content: '\e6f4';
}

.u-icon-group_fill:before {
  content: '\e81c';
}

.u-icon-we:before {
  content: '\e6f5';
}

.u-icon-play_forward_fill:before {
  content: '\e81d';
}

.u-icon-lightauto:before {
  content: '\e6f6';
}

.u-icon-subscription_light:before {
  content: '\e81e';
}

.u-icon-lightforbid:before {
  content: '\e6f7';
}

.u-icon-deliver_fill:before {
  content: '\e81f';
}

.u-icon-lightfill:before {
  content: '\e6f8';
}

.u-icon-notice_forbid_fill:before {
  content: '\e820';
}

.u-icon-camerarotate:before {
  content: '\e6f9';
}

.u-icon-qr_code_light:before {
  content: '\e821';
}

.u-icon-light:before {
  content: '\e6fa';
}

.u-icon-settings_light:before {
  content: '\e822';
}

.u-icon-barcode:before {
  content: '\e6fb';
}

.u-icon-pick:before {
  content: '\e823';
}

.u-icon-flashlightclose:before {
  content: '\e6fc';
}

.u-icon-form_favor_light:before {
  content: '\e824';
}

.u-icon-flashlightopen:before {
  content: '\e6fd';
}

.u-icon-round_comment_light:before {
  content: '\e825';
}

.u-icon-searchlist:before {
  content: '\e6fe';
}

.u-icon-phone_light:before {
  content: '\e826';
}

.u-icon-service:before {
  content: '\e6ff';
}

.u-icon-round_down_light:before {
  content: '\e827';
}

.u-icon-sort:before {
  content: '\e700';
}

.u-icon-friend_settings_light:before {
  content: '\e828';
}

.u-icon-1212:before {
  content: '\e702';
}

.u-icon-change:before {
  content: '\e829';
}

.u-icon-down:before {
  content: '\e703';
}

.u-icon-round_list_light:before {
  content: '\e82a';
}

.u-icon-mobile:before {
  content: '\e704';
}

.u-icon-ticket_fill:before {
  content: '\e82b';
}

.u-icon-mobilefill:before {
  content: '\e705';
}

.u-icon-round_friend_fill:before {
  content: '\e82c';
}

.u-icon-copy:before {
  content: '\e706';
}

.u-icon-round_crown_fill:before {
  content: '\e82d';
}

.u-icon-countdownfill:before {
  content: '\e707';
}

.u-icon-round_link_fill:before {
  content: '\e82e';
}

.u-icon-countdown:before {
  content: '\e708';
}

.u-icon-round_light_fill:before {
  content: '\e82f';
}

.u-icon-noticefill:before {
  content: '\e709';
}

.u-icon-round_favor_fill:before {
  content: '\e830';
}

.u-icon-notice:before {
  content: '\e70a';
}

.u-icon-round_menu_fill:before {
  content: '\e831';
}

.u-icon-qiang:before {
  content: '\e70b';
}

.u-icon-round_location_fill:before {
  content: '\e832';
}

.u-icon-upstagefill:before {
  content: '\e70e';
}

.u-icon-round_pay_fill:before {
  content: '\e833';
}

.u-icon-upstage:before {
  content: '\e70f';
}

.u-icon-round_like_fill:before {
  content: '\e834';
}

.u-icon-babyfill:before {
  content: '\e710';
}

.u-icon-round_people_fill:before {
  content: '\e835';
}

.u-icon-baby:before {
  content: '\e711';
}

.u-icon-round_pay:before {
  content: '\e836';
}

.u-icon-brandfill:before {
  content: '\e712';
}

.u-icon-round_rank_fill:before {
  content: '\e837';
}

.u-icon-brand:before {
  content: '\e713';
}

.u-icon-round_redpacket_fill:before {
  content: '\e838';
}

.u-icon-choicenessfill:before {
  content: '\e714';
}

.u-icon-round_skin_fill:before {
  content: '\e839';
}

.u-icon-choiceness:before {
  content: '\e715';
}

.u-icon-round_record_fill:before {
  content: '\e83a';
}

.u-icon-clothesfill:before {
  content: '\e716';
}

.u-icon-round_ticket_fill:before {
  content: '\e83b';
}

.u-icon-clothes:before {
  content: '\e717';
}

.u-icon-round_redpacket:before {
  content: '\e83c';
}

.u-icon-creativefill:before {
  content: '\e718';
}

.u-icon-round_text_fill:before {
  content: '\e83d';
}

.u-icon-creative:before {
  content: '\e719';
}

.u-icon-round_ticket:before {
  content: '\e83e';
}

.u-icon-female:before {
  content: '\e71a';
}

.u-icon-round_transfer_fill:before {
  content: '\e83f';
}

.u-icon-keyboard:before {
  content: '\e71b';
}

.u-icon-subtitle_block_light:before {
  content: '\e840';
}

.u-icon-male:before {
  content: '\e71c';
}

.u-icon-warn_light:before {
  content: '\e841';
}

.u-icon-newfill:before {
  content: '\e71d';
}

.u-icon-round_transfer:before {
  content: '\e842';
}

.u-icon-new:before {
  content: '\e71e';
}

.u-icon-vip_code_light:before {
  content: '\e843';
}

.u-icon-pullleft:before {
  content: '\e71f';
}

.u-icon-subtitle_unblock_light:before {
  content: '\e844';
}

.u-icon-pullright:before {
  content: '\e720';
}

.u-icon-round_shop_fill:before {
  content: '\e845';
}

.u-icon-rankfill:before {
  content: '\e721';
}

.u-icon-oppose_fill_light:before {
  content: '\e846';
}

.u-icon-rank:before {
  content: '\e722';
}

.u-icon-oppose_light:before {
  content: '\e847';
}

.u-icon-bad:before {
  content: '\e723';
}

.u-icon-living:before {
  content: '\e848';
}

.u-icon-cameraadd:before {
  content: '\e724';
}

.u-icon-goods_hot_fill:before {
  content: '\e849';
}

.u-icon-focus:before {
  content: '\e725';
}

.u-icon-ticket_money_fill:before {
  content: '\e84a';
}

.u-icon-friendfill:before {
  content: '\e726';
}

.u-icon-arrow_left_fill:before {
  content: '\e84b';
}

.u-icon-cameraaddfill:before {
  content: '\e727';
}

.u-icon-arrow_up_fill:before {
  content: '\e84c';
}

.u-icon-apps:before {
  content: '\e729';
}

.u-icon-xiaoheiqun:before {
  content: '\e84d';
}

.u-icon-paintfill:before {
  content: '\e72a';
}

.u-icon-auction:before {
  content: '\e84e';
}

.u-icon-paint:before {
  content: '\e72b';
}

.u-icon-return:before {
  content: '\e84f';
}

.u-icon-picfill:before {
  content: '\e72c';
}

.u-icon-mall_light:before {
  content: '\e850';
}

.u-icon-refresharrow:before {
  content: '\e72d';
}

.u-icon-mall_fill_light:before {
  content: '\e851';
}

.u-icon-markfill:before {
  content: '\e730';
}

.u-icon-broadcast_fill:before {
  content: '\e852';
}

.u-icon-mark:before {
  content: '\e731';
}

.u-icon-at:before {
  content: '\e853';
}

.u-icon-presentfill:before {
  content: '\e732';
}

.u-icon-card_fill:before {
  content: '\e854';
}

.u-icon-repeal:before {
  content: '\e733';
}

.u-icon-album:before {
  content: '\e734';
}

.u-icon-peoplefill:before {
  content: '\e735';
}

.u-icon-people:before {
  content: '\e736';
}

.u-icon-servicefill:before {
  content: '\e737';
}

.u-icon-repair:before {
  content: '\e738';
}

.u-icon-file:before {
  content: '\e739';
}

.u-icon-repairfill:before {
  content: '\e73a';
}

.u-icon-taoxiaopu:before {
  content: '\e73b';
}

.u-icon-attentionfill:before {
  content: '\e73c';
}

.u-icon-attention:before {
  content: '\e73d';
}

.u-icon-commandfill:before {
  content: '\e73e';
}

.u-icon-command:before {
  content: '\e73f';
}

.u-icon-communityfill:before {
  content: '\e740';
}

.u-icon-community:before {
  content: '\e741';
}

.u-icon-read:before {
  content: '\e742';
}

.u-icon-suan:before {
  content: '\e743';
}

.u-icon-hua:before {
  content: '\e744';
}

.u-icon-ju:before {
  content: '\e745';
}

.u-icon-tian:before {
  content: '\e748';
}

.u-icon-calendar:before {
  content: '\e74a';
}

.u-icon-cut:before {
  content: '\e74b';
}

.u-icon-magic:before {
  content: '\e74c';
}

.u-icon-backwardfill:before {
  content: '\e74d';
}

.u-icon-playfill:before {
  content: '\e74f';
}

.u-icon-stop:before {
  content: '\e750';
}

.u-icon-tagfill:before {
  content: '\e751';
}

.u-icon-tag:before {
  content: '\e752';
}

.u-icon-group:before {
  content: '\e753';
}

.u-icon-all:before {
  content: '\e755';
}

.u-icon-backdelete:before {
  content: '\e756';
}

.u-icon-hotfill:before {
  content: '\e757';
}

.u-icon-hot:before {
  content: '\e758';
}

.u-icon-post:before {
  content: '\e759';
}

.u-icon-radiobox:before {
  content: '\e75b';
}

.u-icon-rounddown:before {
  content: '\e75c';
}

.u-icon-upload:before {
  content: '\e75d';
}

.u-icon-writefill:before {
  content: '\e760';
}

.u-icon-write:before {
  content: '\e761';
}

.u-icon-radioboxfill:before {
  content: '\e763';
}

.u-icon-punch:before {
  content: '\e764';
}

.u-icon-shake:before {
  content: '\e765';
}

.u-icon-add1:before {
  content: '\e767';
}

.u-icon-move:before {
  content: '\e768';
}

.u-icon-safe:before {
  content: '\e769';
}

.u-icon-haodian:before {
  content: '\e76d';
}

.u-icon-mao:before {
  content: '\e76e';
}

.u-icon-qi:before {
  content: '\e76f';
}

.u-icon-ye:before {
  content: '\e770';
}

.u-icon-juhuasuan:before {
  content: '\e771';
}

.u-icon-taoqianggou:before {
  content: '\e772';
}

.u-icon-tianmao:before {
  content: '\e773';
}

.u-icon-activityfill:before {
  content: '\e775';
}

.u-icon-crownfill:before {
  content: '\e776';
}

.u-icon-crown:before {
  content: '\e777';
}

.u-icon-goodsfill:before {
  content: '\e778';
}

.u-icon-messagefill:before {
  content: '\e779';
}

.u-icon-profilefill:before {
  content: '\e77a';
}

.u-icon-sound:before {
  content: '\e77b';
}

.u-icon-sponsorfill:before {
  content: '\e77c';
}

.u-icon-sponsor:before {
  content: '\e77d';
}

.u-icon-upblock:before {
  content: '\e77e';
}

.u-icon-weblock:before {
  content: '\e77f';
}

.u-icon-weunblock:before {
  content: '\e780';
}

.u-icon-1111:before {
  content: '\e782';
}

.u-icon-my:before {
  content: '\e78b';
}

.u-icon-myfill:before {
  content: '\e78c';
}

.u-icon-emojifill:before {
  content: '\e78d';
}

.u-icon-emojiflashfill:before {
  content: '\e78e';
}

.u-icon-flashbuyfill-copy:before {
  content: '\e78f';
}

.u-icon-text:before {
  content: '\e791';
}

.u-icon-goodsfavor:before {
  content: '\e794';
}

.u-icon-musicfill:before {
  content: '\e795';
}

.u-icon-musicforbidfill:before {
  content: '\e796';
}

.u-icon-xiamiforbid:before {
  content: '\e797';
}

.u-icon-xiami:before {
  content: '\e798';
}

.u-icon-roundleftfill:before {
  content: '\e799';
}

.u-icon-triangledownfill:before {
  content: '\e79b';
}

.u-icon-appreciate:before {
  content: '\e644';
}

.u-icon-triangleupfill:before {
  content: '\e79c';
}

.u-icon-check:before {
  content: '\e645';
}

.u-icon-roundleftfill-copy:before {
  content: '\e79e';
}

.u-icon-close:before {
  content: '\e646';
}

.u-icon-pulldown1:before {
  content: '\e79f';
}

.u-icon-edit:before {
  content: '\e649';
}

.u-icon-emojilight:before {
  content: '\e7a1';
}

.u-icon-emoji:before {
  content: '\e64a';
}

.u-icon-keyboardlight:before {
  content: '\e7a3';
}
