html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background: var(--u-container-bg);
  color: var(--u-text-1);
  font-family:
    system-ui,
    -apple-system,
    Roboto,
    sans-serif;
     scrollbar-color: rgba(var(--u-rgb),0.33) var(--u-container-bg);
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.pdr-8 {
  padding-right: 8px;
}
.pdl-8 {
  padding-left: 8px;
}

