html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background: var(--u-container-bg);
  color: var(--u-info-700);
  font-family:
    system-ui,
    -apple-system,
    Roboto,
    sans-serif;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.pdr-8 {
  padding-right: 8px;
}
.pdl-8 {
  padding-left: 8px;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent; /* 轨道背景色 */
}
::-webkit-scrollbar-thumb {
  background-color: var(--u-info-600); /* 滑块颜色 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--u-info-400);
}
