.u-radio {
  --u-radio-size: 36px;
  --u-radio-bg: var(--u-radio-bg);
  --u-radio-color: var(--u-radio-color);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  vertical-align: middle;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.65;
  }

  &.is-checked {
    --u-radio-color: var(--u-primary);
  }

  &_input {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--u-radio-size);
    height: var(--u-radio-size);
    background-color: var(--u-radio-bg);
    color: var(--u-radio-color);
    transition: all 0.2s;
    border-radius: 50%;
    &:hover {
      --u-radio-bg: var(--u-primary-light-hover);
    }
  }

  &_original {
    display: none;
  }

  &_label {
    line-height: var(--u-radio-size);
    padding-right: 8px;
  }

  @each $color in primary, success, warning, error {
    &--#{$color} {
      --u-radio-color: var(--u-#{$color});

      .u-radio_input {
        &:hover {
          --u-radio-bg: var(--u-#{$color}-light-hover);
        }
      }
      &.is-checked {
        --u-radio-color: var(--u-#{$color});
      }
    }
  }
}
