.u-input-wrapper {
  --u-input-radius: 4px;
  --u-input-height: 36px;
  --u-input-color: var(--u-info-800);
  --u-input-bg: var(--u-bg);
  --u-input-border-color: var(--u-info-500);
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--u-input-border-color);
  border-radius: var(--u-input-radius);
  padding: 0 12px;
  height: var(--u-input-height);
  min-height: var(--u-input-height);
  background: var(--u-bg);
  transition: all 0.2s;
  gap: 8px;

  &:focus-within,
  &:hover {
    --u-input-border-color: var(--u-primary-600);
  }
  &:focus-within {
    box-shadow: inset 0 0 0 1px var(--u-input-border-color);
  }

  &--small {
    --u-input-height: 28px;
  }

  &--medium {
    --u-input-height: 36px;
  }

  &--large {
    --u-input-height: 48px;
  }
  &--textarea {
    height: auto;
    padding: 0;
  }
  &--number {
    padding-right: 0;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  &.is-readonly {
    pointer-events: all;
  }
}
