.u-input {
  display: inline-flex;
  align-items: center;
  width: 280px;
  border: 1px solid var(--u-neutral-300);
  border-radius: 6px;
  padding: 0 12px;
  background: #fff;
  transition: all 0.2s;

  &:focus-within {
    border-color: var(--u-primary-500);
    box-shadow: 0 0 0 2px rgba(var(--u-primary-500-rgb), 0.1);
  }

  &--small {
    height: 32px;
  }

  &--medium,
  &:not([class*='--']) {
    height: 40px;
  }

  &--large {
    height: 48px;
  }

  &:has(input:disabled) {
    background: var(--u-neutral-100);
    cursor: not-allowed;
  }

  &__inner {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: var(--u-neutral-800);

    &::placeholder {
      color: var(--u-neutral-500);
    }

    &:disabled {
      color: var(--u-neutral-500);
      cursor: not-allowed;
    }
  }
}
